
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: slategray;
}

.container {
    margin: 20%;
}

.queued {
    color: white;
}

#startBtn {
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

#startBtn:hover {
    scale: 1.4;
    color: white;
}

button {
    margin: 8px;
    background: transparent;
    border: none;
}

.active {
    transition: all 0.3s ease-in-out;
    border-top: 1px solid darkgrey;
    background: gainsboro;
    color: blueviolet;
    font-weight: bold;  
}

.started {
    display: none;
}

#check {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input,
input:focus {
    background: transparent;
    font-weight: bold;  
    outline: none;
    border: none;
    border-bottom: 2px slategray solid;
    margin-bottom: 2%;
}
